node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
coverage/
*.lcov
.tsbuildinfo
.nyc_output/
coverage/
node/
dist/
build/
.nuxt
storybook-static/
.next
out/
.craft
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store